@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/sources/css/IndexStyle.css" />

<div class="index">
    <img src="~/sources/img/LogoCUCsinFondo.png"
         alt="Logo CUC"
         class="d-block mx-auto mb-4">
    <h2>Bienvenido al Sistema Evaluación de Desempeño CUC</h2>
</div>


@******************************
MENSAJE EN CASO DE ALERTA*@

    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success">@TempData["Mensaje"]</div>
    }
