@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Creación de Funcionario";
}
<div class="container mt-4">
        <ul class="sidebar-menu">
                <li><a href="/Mantenimientos/ManteniConglomerados">Conglomerados</a></li>
                <li><a href="/Mantenimientos/InformativaConglomerado">Información por conglomerado</a></li>
                <li><a href="/Mantenimientos/ManteniDepartamentos">Departamentos</a></li>
                <li><a href="/Mantenimientos/ManteniFuncionarios">Funcionarios</a></li>
                <li><a href="/Mantenimientos/ManteniPuestos">Puestos</a></li>
                <li><a href="/Mantenimientos/ManteniPeriodo">Períodos</a></li>
                <li><a href="/Mantenimientos/GestionObjetivos ">Objetivos</a></li>
            <li><a href="/Mantenimientos/ManteniCompetencias">Competencias</a></li>
        </ul>
</div>


